/* this is for the git pages */

*{
    box-sizing: border-box;
}

header{
   /* position:fixed;  */
    width:100%;
    top:0;
    left:0;
    background:rgba(255, 255, 255,.8);
    overflow: hidden;
}

nav#primary{
    height:50px;
    line-height:50px; 
    background:rgba(255, 255, 255,.8);
}

nav#primary li{
    list-style-type:none;
    text-align:center;
    float:left;
    width:20%;
}

nav#primary ul {
    width:89%;
    margin:0 auto;
    max-width:1100px;
}

nav#primary a{
    text-decoration:none;
    color:#666;
}

nav#primary a:hover{
    background:#F1948A;
    display:block;
    color:#fff;
}

.wrapper{
    width: 940px;
    margin: 20px auto 10px auto;
    background: rgba(238, 238, 238, 0.94);
    overflow: hidden;
}


.content{
    padding-top: 5px;
    overflow: hidden;
}

main{
    float: left;
    width: 50%;
    /* margin: 16px 0px;  */
    background-color: white;
    /* text-align: center; */
}

aside{
    float: right;
    width: 50%;
    background-color: white;
    text-align: center;
}

footer{
    font-weight:bold;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(209, 207, 207, 0.94);
    vertical-align: baseline;
    border-top: 3px solid rgba(102, 6, 6, 0.94); 
}

div#main{
    text-align: center;
}

/*++++++Typography+++++++++*/
p {
    margin-bottom:20px;
    line-height:1.5;
}



h1 {
    margin-bottom:7px;
    font-size:2.441em;
    line-height:1.15;
    color:#666;
}

.logo{
    font-size:1.6em;
    text-align:center;
    text-decoration:none;
    margin:8px auto;
    font-family:honey_bee;
}

h2 {
    margin-bottom:7px;
    font-size:1.953em;
    line-height:1.15;
    color:#666;
}


h3{
    margin-bottom:7px;
    font-size:1.563em;
    line-height:1.1;
    color:#666;
}


h4 {
    padding-bottom:5px;
    color:#F1948A;
    font-size:1.12em;
    font-size:1em;
    font-style:italic;
    
}

p.valid{
    width:50px;
    margin:0 auto 20px auto;
}

iframe {
    width:auto;
    border="0"; 
}

@media screen and (max-width:800px) {
        body.home #wrapper {
        /*width:940px;*/
        width: 95%;    
    }

    body.inner #wrapper {
        /*width:940px;*/
        width:95%;    
    }
    
    nav#primary ul {
        /*width: 1100px;*/
        width:96%;
    }
    
    main ul {
        list-style-position: inside;
        margin-bottom:10px;
        list-style-type: none;
    }
    
    main li {
        list-style-type: none;
    }
    
    main{
        /* width:560px; 560px divided by 940px*/   
        width:56%;
    }


}

@media screen and (max-width:700px){
    main{
        /* width:560px; 560px divided by 940px*/   
        width:auto;
        float:none; 
    }
    
}

/*++++++Typography+++++++++*/   
@font-face{
    font-family:"modern_sans_light";
    src:url("modern_sans_light.otf");
}

@font-face{
    font-family:"honey_bee";
    src:url("honey bee.ttf");
}